In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('20230101', periods=6)
cities = ['New York', 'Los Angeles']

index = pd.MultiIndex.from_product([dates, cities], names=['date', 'city'])
data = np.random.randn(12, 1)

df = pd.DataFrame(data, index=index, columns=['value'])
df

                           value
date       city
2023-01-01 New York     1.844098
           Los Angeles  0.104113
2023-01-02 New York    -0.436785
           Los Angeles  1.054046
2023-01-03 New York     0.185622
           Los Angeles  0.404394
2023-01-04 New York     0.170191
           Los Angeles -1.089120
2023-01-05 New York    -0.232341
           Los Angeles  0.561049
2023-01-06 New York     0.553648
           Los Angeles  1.399070

In [3]:
df.index

MultiIndex([('2023-01-01',    'New York'),
            ('2023-01-01', 'Los Angeles'),
            ('2023-01-02',    'New York'),
            ('2023-01-02', 'Los Angeles'),
            ('2023-01-03',    'New York'),
            ('2023-01-03', 'Los Angeles'),
            ('2023-01-04',    'New York'),
            ('2023-01-04', 'Los Angeles'),
            ('2023-01-05',    'New York'),
            ('2023-01-05', 'Los Angeles'),
            ('2023-01-06',    'New York'),
            ('2023-01-06', 'Los Angeles')],
           names=['date', 'city'])

In [4]:
df.index.names

FrozenList(['date', 'city'])

In [5]:
# Data for New York
ny_data = df.xs('New York', level='city')
ny_data

               value
date
2023-01-01  1.844098
2023-01-02 -0.436785
2023-01-03  0.185622
2023-01-04  0.170191
2023-01-05 -0.232341
2023-01-06  0.553648

In [6]:
# Data for a specific date range
date_range_data = df.loc['20230101':'20230103']
date_range_data

                           value
date       city
2023-01-01 New York     1.844098
           Los Angeles  0.104113
2023-01-02 New York    -0.436785
           Los Angeles  1.054046
2023-01-03 New York     0.185622
           Los Angeles  0.404394

In [7]:
# Resampling to get monthly data
monthly_data = df.resample('M', level='date').mean()
monthly_data

               value
date
2023-01-31  0.376499

In [8]:
# Aggregating data by city
city_agg = df.groupby(level='city').mean()
city_agg

                value
city
Los Angeles  0.405592
New York     0.347405

In [9]:
df.unstack(level='city')

                 value
city       Los Angeles  New York
date
2023-01-01    0.104113  1.844098
2023-01-02    1.054046 -0.436785
2023-01-03    0.404394  0.185622
2023-01-04   -1.089120  0.170191
2023-01-05    0.561049 -0.232341
2023-01-06    1.399070  0.553648

In [10]:
pivot = df.unstack(level='city').pivot_table(values='value', index='date')
pivot

city        Los Angeles  New York
date
2023-01-01     0.104113  1.844098
2023-01-02     1.054046 -0.436785
2023-01-03     0.404394  0.185622
2023-01-04    -1.089120  0.170191
2023-01-05     0.561049 -0.232341
2023-01-06     1.399070  0.553648

In [11]:
df.index.levels[0]

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', name='date', freq='D')

In [12]:
df.index.levels[1]

Index(['Los Angeles', 'New York'], dtype='object', name='city')

In [13]:
# Assuming 'df' has a timezone-aware DateTimeIndex
df.index = df.index.set_levels([df.index.levels[0].tz_localize('UTC').tz_convert('America/New_York'), df.index.levels[1]])
df.index

MultiIndex([('2022-12-31 19:00:00-05:00',    'New York'),
            ('2022-12-31 19:00:00-05:00', 'Los Angeles'),
            ('2023-01-01 19:00:00-05:00',    'New York'),
            ('2023-01-01 19:00:00-05:00', 'Los Angeles'),
            ('2023-01-02 19:00:00-05:00',    'New York'),
            ('2023-01-02 19:00:00-05:00', 'Los Angeles'),
            ('2023-01-03 19:00:00-05:00',    'New York'),
            ('2023-01-03 19:00:00-05:00', 'Los Angeles'),
            ('2023-01-04 19:00:00-05:00',    'New York'),
            ('2023-01-04 19:00:00-05:00', 'Los Angeles'),
            ('2023-01-05 19:00:00-05:00',    'New York'),
            ('2023-01-05 19:00:00-05:00', 'Los Angeles')],
           names=['date', 'city'])