In [1]:
import pandas as pd

In [34]:
tuples = [('A', 1), ('A', 2), ('B', 1), ('B', 2)]
index = pd.MultiIndex.from_tuples(tuples, names=['letters', 'numbers'])
data = {'values': [10, 20, 30, 40]}
df = pd.DataFrame(data, index=index)
df

                 values
letters numbers
A       1            10
        2            20
B       1            30
        2            40

In [3]:
df.loc['A']

         values
numbers
1            10
2            20

In [4]:
df.loc['A', 1]

values    10
Name: (A, 1), dtype: int64

In [33]:
tuples = [('A', 1), ('A', 2), ('B', 1), ('B', 2)]
index = pd.MultiIndex.from_tuples(tuples, names=['letters', 'numbers'])
data = {'Value1': [1, 2, 3, 4],
        'Value2': [5, 6, 7, 8],
        'Value3': [9, 10, 11, 12]}
df = pd.DataFrame(data, index=index)
df

                 Value1  Value2  Value3
letters numbers
A       1             1       5       9
        2             2       6      10
B       1             3       7      11
        2             4       8      12

In [6]:
df.loc[('A', 1), 'Value3']

9

In [32]:
tuples = [('A', 1, 'yes'), ('A', 1, 'no'), ('A', 2, 'yes'), ('A', 2, 'no'), ('B', 1, 'yes'), ('B', 1, 'no'), ('B', 2, 'yes'), ('B', 2, 'no')]
index = pd.MultiIndex.from_tuples(tuples, names=['letters', 'numbers','types'])
data = {'Value1': [1, 2, 3, 4, 5, 6, 7, 8],
        'Value2': [9, 10, 11, 12, 13, 14, 15, 16],
        'Value3': [17, 18, 19, 20, 21, 22, 23, 24]}
df = pd.DataFrame(data, index=index)
df

                       Value1  Value2  Value3
letters numbers types
A       1       yes         1       9      17
                no          2      10      18
        2       yes         3      11      19
                no          4      12      20
B       1       yes         5      13      21
                no          6      14      22
        2       yes         7      15      23
                no          8      16      24

In [8]:
df.loc[('A', 1, 'yes'), 'Value3']

17

In [35]:
tuples = [('A', 1), ('A', 2), ('B', 1), ('B', 2)]
index = pd.MultiIndex.from_tuples(tuples, names=['letters', 'numbers'])
data = {'Value1': [1, 2, 3, 4],
        'Value2': [5, 6, 7, 8],
        'Value3': [9, 10, 11, 12]}
df = pd.DataFrame(data, index=index)
df

                 Value1  Value2  Value3
letters numbers
A       1             1       5       9
        2             2       6      10
B       1             3       7      11
        2             4       8      12

In [44]:
arrays = [
    ['A', 'B']*4,
    [1, 2]*4,
    ['yes', 'no']*4
]
index = pd.MultiIndex.from_arrays(arrays, names=('Letters', 'Numbers', 'types'))
data = {'Values': [10, 20, 30, 40, 10, 20, 30, 40]}
df = pd.DataFrame(data, index=index)
df

                       Values
Letters Numbers types
A       1       yes        10
B       2       no         20
A       1       yes        30
B       2       no         40
A       1       yes        10
B       2       no         20
A       1       yes        30
B       2       no         40

In [46]:
arrays = [
    ['A', 'B']*4,
    [1, 2]*4,
    ['yes', 'no']*4
]
index = pd.MultiIndex.from_arrays(arrays, names=('Letters', 'Numbers', 'types'))
# data = {'Values': [10, 20, 30, 40, 10, 20, 30, 40]}
data = [10, 20, 30, 40, 10, 20, 30, 40]
df = pd.DataFrame(data, index=index, columns=['Values'])
df

                       Values
Letters Numbers types
A       1       yes        10
B       2       no         20
A       1       yes        30
B       2       no         40
A       1       yes        10
B       2       no         20
A       1       yes        30
B       2       no         40